[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mock="*"
pytest-cov = "*"

[packages]
python-dotenv = "*"
flake8 = "*"
discord-py = "*"
python-pylint = "*"

[requires]
python_version = "3.6"
